.slider-panel
  .slider-panel__filter
    .slider-panel__line
    .slider-panel__line.slider-panel__line--fill
    button.slider-panel__btn
  .slider-panel__years
    span.slider-panel__text 1988
    span.slider-panel__text 2009
    span.slider-panel__text 2016
