doctype html
html 
  head
    meta( name="viewport", content="width=device-width, initial-scale=1" )
    title Тестовое задание
    link(href="./css/all.css", rel="stylesheet")
  body
    main
      include components/slide-1
      include components/slide-2
      include components/slide-3
      include components/pagination
    script(src="./js/all.js")